<div>
  <md-input id="skill-input" #skillInput placeholder="Add skill..." value="" required></md-input>
  <span (mouseout)="onHoverExit()">
    <button 
      md-icon-button class="rating" 
      *ngFor="let rating of ratings" 
      [disabled]="isRatingButtonDisabled()" 
      (click)="onClickRating(rating)"
      [color]="getRatingColor(rating)" 
      (mouseover)="onHoverRating(rating)">
        <md-icon class="icon">star_rate</md-icon>
    </button>
  </span>
  <button id="add" md-raised-button color="primary" (click)="addSkill()" [disabled]="isAddSkillButtonDisabled()">Add Skill</button>
</div>