:host() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    min-width: 500px;
    background: #f9f9f9;
}

h1 {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
}