:host() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    min-width: 500px;
    background: floralwhite;
    border: 1px solid;
}

h1 {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.add-section {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}